extends layout

block links
  link(rel="stylesheet" href="/styles/index.css")

block content
  +head
  +on_show
  +coming_soon

  //- 顶部电影热图 部分
  mixin head
    img#popular(src="/static/pictures/resource/banner/1.png")

  //- 正在上映 部分
  mixin on_show
    div#on_show 正在上映 部分

  //- 即将上映 部分
  mixin coming_soon
    div#coming_soon 即将上映 部分

block scripts
  script(type="text/javascript" src="/scripts/index.js")
