extends layout

block links
  link(rel="stylesheet" href="/styles/index.css")

block content
  +head
  +on_show
  +coming_soon

  //- 注意id、class等的命名前要加上自己对应部分的前缀避免冲突
  //- 例：head_popular_images、on_show_button、coming_soon_icons

  //- 顶部电影热图 部分
  mixin head
    div#head_popular_images
      div#head_logo_white
        img(src="/static/pictures/export/logo_white.png")
      div#head_location 广州 
        span.glyphicon.glyphicon-triangle-bottom
      div#head_user 账户
      div#head_search 搜索

  //- 正在热映 部分
  mixin on_show
    div#on_show_hint 正在热映 部分

  //- 即将上映 部分
  mixin coming_soon
    div#coming_soon_hint 即将上映 部分

block scripts
  script(type="text/javascript" src="/scripts/index.js")
