extends layout

block content
	div.m-20.fs-30.lallana hello world
	div.m-20
		img(src="/static/pictures/08685344-11d9-426d-a204-ccabbf7049ba-2060x1236.jpeg")
	button#next.btn.btn-info.h-50.fs-22.m-20(type="button") 去下个页面