extends layout

block links
  link(rel="stylesheet" href="/styles/index.css")
  link(rel="stylesheet" href="/static/slick/slick.css")

block content
  +head
  +on_show
  +coming_soon

  //- 注意id、class等的命名前要加上自己对应部分的前缀避免冲突
  //- 例：head_popular_images、on_show_button、coming_soon_icons

  //- 顶部电影热图 部分
  mixin head
    div#head_popular_images
      
      div#carousel-example-generic.carousel.slide.head_popular_movies(data-ride="carousel" data-interval="4000")
        ol.carousel-indicators
          li.head_select_item.active(data-target="#carousel-example-generic" data-slide-to="0")
          li.head_select_item(data-target="#carousel-example-generic" data-slide-to="1")
          li.head_select_item(data-target="#carousel-example-generic" data-slide-to="2")
        div.carousel-inner(role="listbox")
          div.item.active
            img.head_popular_movies_img(alt="1.png")
          div.item
            img.head_popular_movies_img(alt="2.png")
          div.item
            img.head_popular_movies_img(alt="3.png")
      //- 上面这部分的id和class名因为都是使用bootstrap里的功能因此未加head前缀，但这些id和class名不会出现在index.css中因此不影响

      div#head_logo_white
        img(src="/static/pictures/export/logo_white.png")
      div#head_location 广州 
        span.glyphicon.glyphicon-triangle-bottom
      div#head_user 账户
      //- div#head_login 登录

  //- 正在热映 部分
  mixin on_show
    div#on_show_hint
      div.on_show_more 正在热映 
      div.on_show_num
      div.on_show_more_array
      div.on_show_slick
        div.content
          div.slider.lazy.on_show


  //- 即将上映 部分
  mixin coming_soon
    div#coming_soon_hint
      div.coming_soon_more 即将上映 
      div.coming_soon_num
      div.coming_soon_more_array
      div.coming_soon_slick
        section#features
        div.content
          div.slider.lazy.coming_soon
      

block scripts
  script(type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js")
  script(type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(type="text/javascript" src="/static/slick/slick.min.js")
  script(type="text/javascript" src="/scripts/index.js")
