/*写好一些常用的类名，以后可以直接类名加数字来用，注意范围
fs-         :font-size
m-          :margin
ml-         :margin-left
mr-         :margin-right
mt-         :margin-top
mb-         :margin-bottom
p-          :padding
pl-         :padding-left
pr-         :padding-right
pt-         :padding-top
pb-         :padding-bottom
w-          :width
h-          :height
text-bold   :font-weight bold
float-right :float:right
float-left  :float:left
color-white :color:#FFFFFF
color-black :color:#000000
以后添加新的类名时，记得在上面做好注释*/

// font-size helpers
@for $i from 0 through 300 {
    .fs-#{$i} {
        font-size: #{$i + 'px'} !important;
    }
}

// margin helpers
@for $i from 0 through 300 {
    .m-#{$i} {
        margin: #{$i + 'px'} !important;
    }
}

// margin-left helpers
@for $i from 0 through 300 {
    .ml-#{$i} {
        margin-left: #{$i + 'px'} !important;
    }
}

// margin-right helpers
@for $i from 0 through 300 {
    .mr-#{$i} {
        margin-right: #{$i + 'px'} !important;
    }
}

// margin-top helpers
@for $i from 0 through 300 {
    .mt-#{$i} {
        margin-top: #{$i + 'px'} !important;
    }
}

// margin-bottom helpers
@for $i from 0 through 300 {
    .mb-#{$i} {
        margin-bottom: #{$i + 'px'} !important;
    }
}

// padding helpers
@for $i from 0 through 300 {
    .p-#{$i} {
        padding: #{$i + 'px'} !important;
    }
}

// padding-left helpers
@for $i from 0 through 300 {
    .pl-#{$i} {
        padding-left: #{$i + 'px'} !important;
    }
}

// padding-right helpers
@for $i from 0 through 300 {
    .pr-#{$i} {
        padding-right: #{$i + 'px'} !important;
    }
}

// padding-top helpers
@for $i from 0 through 300 {
    .pt-#{$i} {
        padding-top: #{$i + 'px'} !important;
    }
}

// padding-bottom helpers
@for $i from 0 through 300 {
    .pb-#{$i} {
        padding-bottom: #{$i + 'px'} !important;
    }
}

// width helpers
@for $i from 0 through 1500 {
    .w-#{$i} {
        width: #{$i + 'px'} !important;
    }
}

// height helpers
@for $i from 0 through 1500 {
    .h-#{$i} {
        height: #{$i + 'px'} !important;
    }
}

// text-bold helpers
.text-bold {
  font-weight: bold !important;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.color-white {
    color: #FFFFFF;
}

.color-black {
    color: #000000;
}