extends ../layout

block links
  link(rel="stylesheet" href="/styles/account.css")

block content
  include head_bar.jade
  div#account_container hello, 15521216712
    img#account_no_record(src='/static/pictures/assets/Account_noRecord_img.png')
  
  table.table#table_
    tbody
      tr
        td
          img.picture(src='/static/pictures/assets/Account_noRecord_img.png')
        td
          div.movie_name 金刚狼3：殊死一战
          div.movie_time 5月3日 20:00
        td
          div.cinema_hall 金逸珠江国际影城(大学城店) 5号厅
          div.seats 5排6座 5排7座 5排8座
        td
          div.price ￥98元
        td
          div.state_wait 待取票
          div.code 1234 5678 90


block scripts
  script(type="text/javascript" src="/scripts/account.js")
  script(type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js")
