extends ../layout

block content
	div.home-page-container.bg-color-home.m-0

		div.logo
			img(src="../static/pictures/logo.jpg")

		div.logo-b-left
			div.logo2-left
				img(src="../static/pictures/logo2.jpg")
			div.logo3-left
				img(src="../static/pictures/logo3.jpg")

		div.input-container-right.mt-200.w-700.h-800.text-bold
			div.list-title.fs-40.w-200.mt-20.mb-20 商家列表

			table.table
				tbody
					tr
						nav.navbar.navbar-default.h-112.bg-color-home.mb-10.p-0.navbar-default-border(role="navigation")
							.container-fluid.p-0
								.navbar-header.ml-50
									a.navbar-brand.p-0(href="store.html")
										img.img-circle.w-100.h-100(alt="Brand" src="../static/pictures/10.jpg")
								.navbar-nav.ml-20
									div.details.w-450.h-100.pl-20.pt-5.pr-20
										a.color-black.fs-27(href="store.html") 美味蛋糕店
										div.float-right.fs-17.mt-25 508m
										div.fs-15.mt-5 起送价 ￥10
										div.float-right.fs-17 37分钟
										div.fs-15.mt-5
											span.jian 减
											span.ml-10 满10减1
					tr
						nav.navbar.navbar-default.h-112.bg-color-home.mb-10.p-0.navbar-default-border(role="navigation")
							.container-fluid.p-0
								.navbar-header.ml-50
									a.navbar-brand.p-0(href="store.html")
										img.img-circle.w-100.h-100(alt="Brand" src="../static/pictures/2.jpg")
								.navbar-nav.ml-20
									div.details.w-450.h-100.pl-20.pt-5.pr-20
										a.color-black.fs-27(href="store.html") 小学生汉堡店
										div.float-right.fs-17.mt-25 980m
										div.fs-15.mt-5 起送价 ￥15
										div.float-right.fs-17 42分钟
										div.fs-15.mt-5
											span.jian 减
											span.ml-10 满10减1
					tr
						nav.navbar.navbar-default.h-112.bg-color-home.mb-10.p-0.navbar-default-border(role="navigation")
							.container-fluid.p-0
								.navbar-header.ml-50
									a.navbar-brand.p-0(href="store.html")
										img.img-circle.w-100.h-100(alt="Brand" src="../static/pictures/4.jpg")
								.navbar-nav.ml-20
									div.details.w-450.h-100.pl-20.pt-5.pr-20
										a.color-black.fs-27(href="store.html") 必胜客
										div.float-right.fs-17.mt-25 1230m
										div.fs-15.mt-5 起送价 ￥20
										div.float-right.fs-17 45分钟
										div.fs-15.mt-5
											span.jian 减
											span.ml-10 满50减6
					tr
						nav.navbar.navbar-default.h-112.bg-color-home.mb-10.p-0.navbar-default-border(role="navigation")
							.container-fluid.p-0
								.navbar-header.ml-50
									a.navbar-brand.p-0(href="store.html")
										img.img-circle.w-100.h-100(alt="Brand" src="../static/pictures/5.jpg")
								.navbar-nav.ml-20
									div.details.w-450.h-100.pl-20.pt-5.pr-20
										a.color-black.fs-27(href="store.html") 港式茶餐厅
										div.float-right.fs-17.mt-25 88m
										div.fs-15.mt-5 起送价 ￥0
										div.float-right.fs-17 30分钟
										div.fs-15.mt-5
											span.jian 减
											span.ml-10 满20减3
						

