//- next_page对应的三个文件均无具体作用，仅作参考
extends ../layout

block links
  link(rel="stylesheet" href="/styles/next_page.css")

block content
  div.fs-50 我是下个页面
  button#returnHome.btn.btn-info.h-50.fs-22(type="button") 返回主页面

block scripts
  script(type="text/javascript" src="/scripts/next_page.js")
