extends ../layout

block links
  link(rel="stylesheet" href="/styles/register_login.css")
  
block content
  include head_bar.jade
  div#login_content
    img#login_logo(src="/static/pictures/export/logo_black.png")
    div#login_form(action="#" method="post")
      div#login_form_title 请登录 
      div#sign_up + 注册
      .form-group
        label(for='phone') 手机号
        input.form-control(type='text' name='phone' autofocus=true)
      .form-group
        label(for='password') 密码
        input.form-control(type='password' name='password')
      div#login_error
      button#login_button(type="submit") 登录

block scripts
  script(type="text/javascript" src="/scripts/register_login.js")
