extends ../layout

block links
  link(rel="stylesheet" href="/styles/select_date_cinema_time.css")

block content
  +head_bar
  div#select_and_movie_info
    +select
    +movie_info

  mixin head_bar
    div#head_bar
      img(src='/static/pictures/assets/logo_black_clear.png')
      button#head_bar_count 账户

  mixin select
    div#select

  mixin movie_info
    div#movie_info

block scripts
  script(type="text/javascript" src="/scripts/select_date_cinema_time.js")
