extends ../layout

block links
  link(rel="stylesheet" href="/styles/select_seat.css")

block content
  div.fs-50 我是选择座位页面
  button#returnHome.btn.btn-info.h-50.fs-22(type="button") 返回主页面

block scripts
  script(type="text/javascript" src="/scripts/select_seat.js")
