extends ../layout

block links
  link(rel="stylesheet" href="/styles/select_date_cinema_time.css")

block content
  +head_bar
  div#select_and_movie_info
    +select
    +movie_info

  mixin head_bar
    div#head_bar
      img#head_bar_img(src='/static/pictures/assets/logo_black_clear.png')
      button#head_bar_count 账户

  mixin select
    div#select
      +select_date
      +select_cinema
      +select_time

  mixin movie_info
    div#movie_info
      img#movie_info_poster 
      div#movie_info_title
      span#movie_info_rating
      div#movie_info_pubdate
      div#movie_info_movie_style
      div#movie_info_movie_type
      div#movie_info_country
      div#movie_info_length

  mixin select_date
    div#select_date
      div#select_date_title 选择日期

  mixin select_cinema
    div#select_cinema
      div#select_cinema_title 选择影院

  mixin select_time
    div#select_time
      div#select_time_cinema_info
        button#select_time_change_cinema 更改影院
        div#select_time_cinema_name 金逸珠江国际影城（大学城店）
      div#select_time_title 选择场次
      div#select_time_item1.select_time_item
        div.select_time_item_show_time 12:35
        div.select_time_item_end_time -14:45
        div.select_time_item_lang_and_movie_type 国语 3D
        div.select_time_item_cinema_hall_name 2号厅
        div.select_time_item_price ￥38
        button#select_time_item1_select_seat.select_time_item_select_seat 选座购票
      div#select_time_item2.select_time_item
        div.select_time_item_show_time 15:00
        div.select_time_item_end_time -17:10
        div.select_time_item_lang_and_movie_type 国语 IMAX 3D
        div.select_time_item_cinema_hall_name 3号厅
        div.select_time_item_price ￥35
        button#select_time_item2_select_seat.select_time_item_select_seat 选座购票
      div#select_time_item3.select_time_item
        div.select_time_item_show_time 18:35
        div.select_time_item_end_time -20:45
        div.select_time_item_lang_and_movie_type 国语 3D
        div.select_time_item_cinema_hall_name 2号厅
        div.select_time_item_price ￥40
        button#select_time_item3_select_seat.select_time_item_select_seat 选座购票



block scripts
  script(type="text/javascript" src="/scripts/select_date_cinema_time.js")
