extends ../layout

block links
  link(rel="stylesheet" href="/styles/select_date_cinema_time.css")

block content
  +head_bar
  div#select_and_movie_info
    +select
    +movie_info

  mixin head_bar
    div#head_bar
      img(src='/static/pictures/assets/logo_black_clear.png')
      button#head_bar_count 账户

  mixin select
    div#select
      +select_date
      +select_cinema
      +select_time

  mixin movie_info
    div#movie_info
      img#movie_info_poster 
      div#movie_info_title
      span#movie_info_rating
      div#movie_info_pubdate
      div#movie_info_movie_style
      div#movie_info_movie_type
      div#movie_info_country
      div#movie_info_length

  mixin select_date
    div#select_date
      div#select_date_title 选择日期

  mixin select_cinema
    div#select_cinema
      div#select_cinema_title 选择影院
      div#select_cinema_item1.select_cinema_item
        button#select_cinema_item1_select_time.select_cinema_item_select_time 选择场次
        div.select_cinema_item_min_price ￥41
          span 起
        div.select_cinema_item_name 金逸珠江国际影城（大学城店）
        div.select_cinema_item_location 番禺区小谷围街贝岗村中二横路1号GOGO新天地商业广场B2B001铺
        div.select_cinema_item_time 11:00
        div.select_cinema_item_time 18:20
        div.select_cinema_item_time 21:35
        div.select_cinema_item_time 22:55

  mixin select_time
    div#select_time

block scripts
  script(type="text/javascript" src="/scripts/select_date_cinema_time.js")
