extends ../layout

block links
  link(rel="stylesheet" href="/styles/select_date_cinema_time.css")

block content
  div.fs-50 我是选择日期、电影院、场次页面
  button#returnHome.btn.btn-info.h-50.fs-22(type="button") 返回主页面

block scripts
  script(type="text/javascript" src="/scripts/select_date_cinema_time.js")
