extends ../layout

block links
  link(rel="stylesheet" href="/styles/select_seat.css")

block content
  +head_bar
  div#select_and_movie_info
    +select
    +movie_info

  mixin head_bar
    div#head_bar
      img#head_bar_img(src='/static/pictures/assets/logo_black_clear.png')
      button#head_bar_count 账户

  mixin select
    div#select
      div#select_title 选择座位
      div#select_seat
        img#select_seat_screen(src='/static/pictures/assets/selectSeat_screen.png')
        div#select_seat_dot_line
      div#select_seat_hint
        img(src='/static/pictures/assets/seats/available.png') 
        span 可选
        img(src='/static/pictures/assets/seats/unavailable.png') 
        span 不可选
        img(src='/static/pictures/assets/seats/select.png') 
        span 已选

  mixin movie_info
    div#movie_info
      img#movie_info_poster
      div#movie_info_title 金刚狼3：殊死一战
      div#movie_info_lang_and_movie_type 英文 3D
      div#movie_info_length 130分钟
      div#movie_info_cinema_name 金逸珠江国际影城（大学城店）
      div#movie_info_cinema_hall_name 5号厅
      div#movie_info_show_date_hint 日期：
      div#movie_info_show_date 4月4日
      div#movie_info_show_time_hint 场次：
      div#movie_info_show_time 13：25
      button#movie_info_change_show_time 更改场次
      div#movie_info_change_show_time_dialog_triangle
      div#movie_info_change_show_time_dialog
        div#movie_info_change_show_time_dialog_item1.movie_info_change_show_time_dialog_item 10:35
        div#movie_info_change_show_time_dialog_item2.movie_info_change_show_time_dialog_item 12:35
        div#movie_info_change_show_time_dialog_item3.movie_info_change_show_time_dialog_item 14:35
        div#movie_info_change_show_time_dialog_item4.movie_info_change_show_time_dialog_item 16:35
        div#movie_info_change_show_time_dialog_item4.movie_info_change_show_time_dialog_item 17:35
      div#movie_info_seats_hint 座位：
      div#movie_info_seats 5排6座 5排7座 5排8座 5排9座
      div#movie_info_price_hint 价格：
      div#movie_info_price ￥38 × 4张
      div#movie_info_total_price_hint 总价：
      div#movie_info_total_price ￥152
      button#movie_info_order 确认购票

block scripts
  script(type="text/javascript" src="/scripts/select_seat.js")
