#input_container {
	width: 240px;
	height: 212px;
	margin: 100px auto 0 auto;
}

#item_phone, #item_code {
	color: #999999;
	font-size: 14px;
}

#phone_container {
	width: 240px;
	height: 48px;
	font-family: Avenir-Book;
	font-size: 20px;
	color: #484848;
	letter-spacing: 1px;
	border: 1px solid #ECE7E7;
	border-radius: 2px;
	position: relative;

	margin-bottom: 15px;
	margin-top: 3px;
}

#phone_prefix {
	width: 40px;
	height: 19px;
	font-family: Avenir-Book;
	font-size: 14px;
	color: #999999;

	position: absolute;

	margin-left: 16px;
	top: 11px;
}

#phone_input {
	border: none;
	width: 147px;
	height: 27px;
	margin-top: 8px;
	margin-bottom: 9px;
	margin-right: 26px;
	font-size: 20px;
	position: absolute;
	left:64px;
	padding: 3px;
}


#code_input{
 	margin-top: 3px;
 	margin-bottom: 24px;
	border: 1px solid grey;
	width: 100%;
	height: 13%;
	vertical-align: center;
	text-align: center;
	font-family: Avenir-Book;
	font-size: 20px;
	color: #484848;
	letter-spacing: 1px;
	border: 1px solid #ECE7E7;
	border-radius: 2px;

	padding-bottom: 12px;
	padding-left: 16px;
	padding-top: 14px;
}

#get_ticket, #check_ticket {
	width: 108px;
	height: 48px;


	border: 1px solid #E84A3A;
	border-radius: 2px;
	background: none;

	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #E84A3A;
}

#check_ticket {
	float: right;
}

#get_ticket:hover, #check_ticket:hover {
	background: #E84A3A;
	color: white;
}

#get_ticket_confirm {
	display: none;

	position: relative;

	width: 320px;
	height: 160px;

	z-index: 999;

    margin-left: auto;
	margin-right: auto;
	margin-top: -130px;

	background: #FAFAFA;
	box-shadow: 0 0 8px 0 #DDD9D9, 0 8px 8px 0 #DDD9D9;
	border-radius: 2px;
}

#confirm_text {
	width: 64px;
	height: 22px;
	top: 32px;
	font-size: 16px;
	color: #484848;
	position: absolute;
	left:125px;
	top: 35px;
}

#cancel_get, #confirm_get {
	font-size: 12px;
	width: 80px;
	height: 36px;
	background: none;
	color: #E84A3A;
	border: 1px solid #E84A3A;
	border-radius: 2px;
	position: absolute;
	bottom: 25px;
}

#cancel_get {
	left: 58px;
}

#confirm_get {
	right: 58px;
}

#cancel_get:hover, #confirm_get:hover {
	background: #E84A3A;
	color: white;
}

#final_container {
	display: none;
	position: relative;
	font-family: PingFangSC-Regular;
	width: 500px;
	height: 400px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}



#final_item_movie, #final_item_hall, #final_item_room,
#final_item_time, #final_item_seat {
	font-size: 14px;
	color: #999999;

	width: 28px;
	height: 20px;
	margin : 15px;
}

#final_state {
	position: absolute;
	left: 196px;

	background: #DF9088;
	border-radius: 2px;

	width: 108px;
	height: 48px;

	text-align: center;
	padding-top: 15px;

	font-size: 14px;
	color: #FFFFFF;
}

#final_movie, #final_hall_cinema, #final_hall_room,
#final_date, #final_time, #final_seat {
	width: 420px;
	height: 20px;
	margin-bottom: 100px;
}

#final_item_movie, #final_movie {
	display: inline;
}

#final_item_hall, #final_hall_cinema {
	display: inline;
}

#final_item_rome, #final_hall_room {
	display: inline;
}

#final_item_time, #final_date, #final_time {
	display: inline;
}

#final_item_seat, #final_seat {
	display: inline;
}

#final_hall_room {
	position: relative;
	left: 58px;
}

.item_box {
	margin-bottom: 24px;
}
