html, body {
  background-color: #202020 !important;
}

/*顶部电影热图 样式部分开始*/
#head_popular_images {
  width: 100%;
  height: 420px;
}

.head_popular_movies {
  position: absolute;
  width: 100%;
  height: 420px;
  z-index: 1;
}

.head_popular_movies > div,
.head_popular_movies > div > .item,
.head_popular_movies_img {
  width: 100%;
  height: 420px !important;
}

.head_popular_movies > .carousel-indicators {
  margin-bottom: -10px !important;
}

.head_select_item {
  width: 56px !important;
  height: 8px !important;
  margin: 0 8px 0 0 !important;
  border-radius: 2px !important;
  background-color: rgba(255, 255, 255, .20) !important;
}

.head_select_item.active {
  background-color: rgba(255, 255, 255, .80) !important;
}

#head_logo_white,
#head_logo_white > img {
  position: relative;
  z-index: 2;
}

#head_logo_white {
  margin: 16px 48px 0 24px;
}

#head_location {
  top: 11px;
}

#head_location,
#head_location > glyphicon-triangle-bottom {
  color: #fff;
  font-size: 16px;
  position: relative;
  z-index: 2;
}

#head_logo_white,
#head_location {
  display: inline-block;
}

#head_login,
#head_user {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 16px;
  position: relative;
  z-index: 2;
}

#head_login {
  cursor: pointer;
  margin: 24px 56px 0 0;
}

#head_user {
  cursor: pointer;
  margin: 24px 24px 0 0;
}
/*顶部电影热图 样式部分结束*/


/*正在热映 样式部分开始*/
/*设计图上忘记标注了 各小图宽为160px，高为224px*/
#on_show_hint {
  margin: 24px 24px 24px 24px;
  padding: 0px;
  height: 290px;
  color: #ffffff;
  font-size: 20px;
}

.on_show_slick, .coming_soon_slick {margin-top: 16px;}

.on_show_more_array, .on_show_num, .on_show_more {
  display: inline-block;
  margin-left: 9px;
}
.on_show_more_array {
  width: 14px;
  height: 24px;
  background: url("/static/pictures/export/more@2x.png");
}

.on_show_poster_hint {
  width: 160px;
  height: 92px;
  position: absolute;
  bottom: 0px;
  z-index: 8;
  background: url("/static/pictures/export/background2.png");
}
.on_show_movie_name, .on_show_movie_score { bottom: 0px; position: absolute; }
.on_show_movie_name { left: 8px; font-size: 14px; width: 110px; margin-bottom: 0px; height: 25px;}
.on_show_movie_score { right: 8px; }

.content{margin:auto; }
.slick-slide .image{padding:0px;}
.slick-slide img{display:block; width:160px; height:224px; margin-right: 24px; border-radius: 2px;}
.slick-slide img.slick-loading{border:0 }
.slick-slider{margin:auto}
section{width:100%;}


.on_show_hover_fore {
  position: absolute;
  width:160px;
  height:224px;
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
  display: none;
}
.on_show_hover_info {
  width : 160px;
  height: 0px;
  display: block;
  position: relative;
  top: -224px;
  display: none;
}
.on_show_hover_info div {
  position: absolute;
  padding: 0;
  margin: 0;
}
.on_show_hover_title {
  left: 16px;
  top: 16px;
  font-size: 16px;
}
.on_show_hover_rating {
  right: 8px;
  top: 16px;
  font-size: 16px;
  }
.on_show_hover_type {
  left: 16px;
  top: 38px;
  font-size: 12px;
}
.on_show_hover_style {
  left: 16px;
  top: 72px;
  font-size: 12px;
  opacity: 0.64;
}
.on_show_hover_CAndL {
  left: 16px;
  top: 88px;
  font-size: 12px;
  opacity: 0.64;
}
.on_show_hover_pubdate {
  left: 16px;
  top: 104px;
  font-size: 12px;
  opacity: 0.64;
}

.on_show_hover_info button {
  position: absolute;
  top:156px;
  left: 50px;
  width: 64px;
  height: 32px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  background-color: #E84A3A;
}
.on_show_hover_info button:hover {
  background-color: #E76456;
}
/*正在热映 样式部分结束*/


/*即将上映 样式部分开始*/
/*设计图上忘记标注了 各小图宽为160px，高为224px*/
.coming_soon_more_array, .coming_soon_num, .coming_soon_more {
  display: inline-block;
  margin-left: 9px;
}
.coming_soon_more_array {
  width: 14px;
  height: 24px;
  background: url("/static/pictures/export/more@2x.png");
}

#coming_soon_hint {
  margin: 0px 24px 24px 24px;
  padding: 0px;
  height: 290px;
  color: #fff;
  font-size: 20px;
}

.coming_soon_poster_hint {
  width: 160px;
  height: 92px;
  position: absolute;
  bottom: 0px;
  z-index: 8;
  background: url("/static/pictures/export/background2.png");
}
.coming_soon_movie_name {
  position: absolute;
  left: 8px;
  font-size: 14px;
  width: 110px;
  margin-bottom: 0px;
  height: 25px;
  bottom: 0px;
}

.coming_soon_hover_fore {
  position: absolute;
  width:160px;
  height:224px;
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
  display: none;
}
.coming_soon_hover_info {
  width : 160px;
  height: 0px;
  display: block;
  position: relative;
  top: -224px;
  display: none;
}
.coming_soon_hover_info div {
  position: absolute;
  padding: 0;
  margin: 0;
}
.coming_soon_hover_title {
  left: 16px;
  top: 16px;
  font-size: 16px;
}
.coming_soon_hover_type {
  left: 16px;
  top: 38px;
  font-size: 12px;
}
.coming_soon_hover_style {
  left: 16px;
  top: 72px;
  font-size: 12px;
  opacity: 0.64;
}
.coming_soon_hover_CAndL {
  left: 16px;
  top: 88px;
  font-size: 12px;
  opacity: 0.64;
}
.coming_soon_hover_pubdate {
  left: 16px;
  top: 104px;
  font-size: 12px;
  opacity: 0.64;
}

.coming_soon_hover_info button {
  position: absolute;
  top:156px;
  left: 50px;
  width: 64px;
  height: 32px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  background-color: #E84A3A;
}
.coming_soon_hover_info button:hover {
  background-color: #E76456;
}
/*即将上映 样式部分结束*/
