html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.home-page-container {
	width: 100%;
	height: 100%;
}

.logo {
	position: relative;
	width: 800px;
	left: 10%;
	top: 10%;
}

.input-container-left {
	position: absolute;
	left: 10%;
	border: 4px #FFFFFF solid;
	font-family: sans-serif;
}

.logo-b-right {
	position: absolute;
	left: 1000px;
	/*bottom: 0;*/
}

.logo-b-left {
	position: absolute;
	left: 12%;
	/*top: 50%;*/
	top: 490px;
	/*bottom: 0;*/
}

.logo2-left {
	position: absolute;
	top: -150px;
	/*top: -40%;*/
}

.input-container-right {
	position: absolute;
	left: 900px;
	top: -10%;
	border: 4px #FFFFFF solid;
	font-family: sans-serif;
}

.bg-color-index {
	background-color: #D0EAE1 !important;
}

.bg-color-signup {
	background-color: #C3E9EA !important;
}

.bg-color-home {
	background-color: #7CF1E1 !important;
}

.bg-color-store {
	background-color: #E1E1E1 !important;
}

.bg-color-pay {
	background-color: #D4FFE3 !important;
}

.division {
	background-color: #D3D3D3;
}