body, #head_bar_count {
  background-color: #FAFAFA;
}


#login_content {
  width: 320px;
  margin: 64px auto 0 auto;
}

#login_logo {
  display: block;
  margin: 0 auto;
}

#login_form {
  margin: 50px auto 0 auto;
  padding: 32px 40px 45px 40px;
  background-color: #fff;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #484848;
}

#sign_up {
  position: relative;
  top: -20px;
  left: 200px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #E84A3A;
  cursor: pointer;
}

#sign_up:hover {
  color: #E76456;
}


.form-group {
  margin: 16px auto;
}

.form-group > label {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999999;
  font-weight: 400;
}

.form-control {
  width: 240px;
  height: 48px;
  border: 1px solid #ECE7E7;
  border-radius: 2px;
  font-family: Avenir-Book;
  font-size: 20px;
  color: #484848;
}

input:focus {
  border-color: #E76456 !important;
}

#login_error {
  color: #E84A3A;
  font-size: 14px;
  height: 30px;
}

#login_button {
  width: 240px;
  height: 48px;
  background: #E84A3A;
  border: 0;
  border-radius: 2px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
}

#login_button:hover {
  background-color: #E76456;
}
